*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #555;
  font-family: microsoft-yahei,sans-serif;
}

a:visited{
  color: #555;
}

.pos-r{
  position: relative;
}

.clearfix:after{
  content: '';
  display: block;
  clear: both;
}
.clearfix{
  zoom: 1;
}

.page{
  width: 960px;
  margin: 20px auto;
  padding: 76px 40px 50px 46px;
  box-sizing: border-box;
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.3);
}

header{
  margin-bottom: 100px;
}

header > div{
  float: left;
}

.avatar{
  width: 150px;
  height: 150px;
  margin: 0 12px;
  border-radius: 50%;
  background-color: #000;
}

.job{
  /* position: relative; */
  height: 150px;
  margin-left: 28px;
}

.job > .wrapper{
  padding-top: 24px;
/*   position: absolute;
  top: 50%;
  transform: translateY(-50%); */
}

.job p:nth-child(1){
  font-size: 40px;
  letter-spacing: 50px;
}

.job p:nth-child(2){
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 550;
}

.personalinfo{
  position: absolute;
  right: -40px;
}

.personalinfo-header{
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 5px solid #000;
}

.personalinfo-content{
  line-height: 25px;
  padding-right: 160px;
}

.personalinfo-content > li > span{
  color: #000;
  font-size: 18px;
  font-weight: 900;
}

.personalinfo-content > li:last-child{
  position: relative;
}

.personalinfo-content > li:last-child div{
  position: absolute;
  top: 0;
  left: 40px;
}


main{
  margin-top: 38px;
}

.portfolio-header,.intro-header,.skills-header{
  color: #000;
  font-size: 20px;
  font-weight: bold;
  width: 400px;
  padding-bottom: 8px;
  margin-bottom: 15px;
  border-bottom: 2px solid #ddd;
}

.portfolio-content{
  border-left: 1px solid #000;
  padding-left: 75px;
}

.portfolio-content > .line-cover{
  position: absolute;
  left: -3px;
  height: 4px;
  border: 2px solid #fff;
}

.circle{
  position: absolute;
  left: -81px;
  top: 8px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #000;
}

.project-header{
  font-size: 18px;
  margin-bottom: 10px;
}

.project-content{
  margin-bottom: 20px;
}

footer{
  padding-top: 20px;
}

.intro{
  float: left;
}

.intro-content{
  width: 400px;
  box-sizing: border-box;
}

.intro-content .decoration{
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  font-weight: 900;
  font-size: 10px;
  font-family: sans-serif;
  text-align: center;
  line-height: 20px;
}

.intro-content section{
  padding: 0 0 15px 80px;
}

.skills{
  float: right;
  width: 400px;
}

.skills-content > li{
  float: left;
  width: 200px;
  height: 100px;
  box-sizing: border-box;
}

.skills-content > li:nth-child(even){
  border-left: 1px solid #ddd;
}

.skill{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  color: #000;
  font-weight: bold;
  
}

.skill-bar{
  width: 100px;
  height: 10px;
  margin: 50px auto;
  border: 1px solid #555;
  border-radius: 10px;
  overflow: hidden;
}

.fill-h5c3{
  width: 65px;
  height: 10px;
  background-color: #f99;
}




