/* reset */
*{
  margin: 0;
  padding: 0;
  letter-spacing: .3px;
}
body{
  color: #333;
  font: 16px/1.5 microsoft-yahei, sans-serif;
}
ul,ol{
  list-style: none;
}
a{
  color: #000;
  text-decoration: none;
}
a:visited{
}

/* common */
.pos-r{
  position: relative;
}

.clearfix:after{
  content: '';
  display: block;
  clear: both;
}
.clearfix{
  zoom: 1;
}

/* main */
.page{
  width: 960px;
  margin: 20px auto;
  padding: 76px 40px 50px 46px;
  box-sizing: border-box;
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.3);
  background: url(./handmadepaper.png);
}

header{
  margin-bottom: 100px;
}

header > div{
  float: left;
}

.avatar{
  width: 150px;
  height: 150px;
  margin: 0 12px;
  border-radius: 50%;
  box-shadow: 0 0 1px 2px #ccc;
  background: no-repeat center center url(./sean.jpg) #fff;
  background-size: contain;

  transition: transform 1.5s;
  animation: rotate 1.5s 1;
}

@keyframes rotate{
  to {
    transform: rotateY(-360deg);
  }
}

.job{
  height: 150px;
  margin-left: 28px;
}

.job > .wrapper{
  height: 150px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #000;
}

.job h1{
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: lighter;
  white-space: pre-wrap;
}

.job h2{
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: 3px;
}

.personalinfo{
  position: absolute;
  right: -40px;
}

.personalinfo-header{
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 5px solid #345;
}

.personalinfo-content{
  line-height: 30px;
  padding-right: 160px;
}

.personalinfo-content > li > span{
  display: inline-block;
  margin-right: 10px;
  color: #000;
  font-size: 18px;
  font-weight: 900;
}

.personalinfo-content > li:last-child{
  position: relative;
}

.personalinfo-content > li:last-child div{
  position: absolute;
  top: 0;
  left: 48px;
}

main{
  margin-top: 38px;
}

.portfolio-header,.intro-header,.skills-header,.self-intro-header{
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  width: 400px;
  padding-bottom: 8px;
  margin-bottom: 15px;
  border-bottom: 2px solid #ddd;
}

.portfolio-content{
  border-left: 1px solid #345;
  padding-left: 75px;
}

.portfolio-content > .line-cover{
  position: absolute;
  left: -3px;
  top: -1px;
  height: 12px;
  width: 5px;
  background: url(./handmadepaper.png);
}

.circle{
  position: absolute;
  left: -81px;
  top: 11px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #345;
}

.project{
  margin-bottom: 15px;
}

.project-header{
  font-size: 1.2em;
  margin-bottom: 3px;
}

.project-header:before{
  content: '';
  position: absolute;
  left: -81px;
  top: 11px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #345;
}

.project-tech{
  margin-bottom: 5px
}

.project-tech>b{
  font-size: 1.1em;
}

.project-show>a{
  font-weight: bold;
  display: inline-block;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 3px;
  padding: 0 2px;
  margin-right: 5px;
}

footer{
  padding-top: 20px;
}

.intro{
  float: left;
}

.intro-content{
  width: 400px;
  box-sizing: border-box;
}

.intro-content section{
  padding: 0 0 15px 30px;
  word-break: break-all;
}

.intro-content section>p{
  letter-spacing: 1px;
}

.intro-content ul{
  list-style: circle;
}

.intro-content ul>li{
  letter-spacing: 1px;
}

.skills{
  float: right;
  width: 400px;
}

.self-intro{
  float: left;
  padding-top: 10px;
}

.self-intro-content section{
  padding: 0 80px 15px;
  word-break: break-all;
}

.self-intro-content ul{
  list-style: circle;
}

.self-intro-content section>*:before{
  content: '+';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
  line-height: 18px;
}
